<div class="section z-depth-1">
	<img src="http://www.gravatar.com/avatar/7e126aff2b58607e09a1c0d363a8d7da?s=150" class="responsive-img z-depth-2 left margin-right-20" />
	<h3 class="blue-text lighten-2">Adam Presley</h3>
</div>

<div class="clear margin-bottom-20"></div>
<div class="divider margin-bottom-20"></div>

<div class="contact-wrapper">
	<table>
		<tr>
			<td width="55px"><i class="small mdi-communication-email"></i></td>
			<td width="75px">Email</td>
			<td>adam@adampresley.com</td>
		</tr>
		<tr>
			<td><i class="small mdi-communication-phone"></i></td>
			<td>Phone</td>
			<td>+1 972-984-8975</td>
		</tr>
		<tr>
			<td><i class="small mdi-communication-message"></i></td>
			<td>Skype</td>
			<td>adampresley1978</td>
		</tr>
		<tr>
			<td><i class="small mdi-social-pages"></i></td>
			<td>Google+</td>
			<td>adam@adampresley.com</td>
		</tr>
	</table>

</div>
