<div class="section">
	<h3 class="cyan-text accent-4">Projects</h3>
</div>

<div class="divider margin-bottom-20"></div>

<div class="card orange lighten-1">
	<div class="card-content white-text">
		<span class="card-title">KostPro Dashboard</span>
		<p>
			Description of project. What did it entail? What did I achieve?
			Is there a testimonial?
		</p>

		<div class="divider margin-bottom-20 margin-top-20"></div>

		<img src="/assets/portfolio/images/kostpro-dashboard-1.png" width="250" height="250" />
		<img src="/assets/portfolio/images/kostpro-dashboard-2.png" width="250" height="250" />
	</div>
	<div class="card-action">
		<span class="cyan accent-4 white-text padding-5">PHP</span>
		<span class="cyan accent-4 white-text padding-5">MySQL</span>
	</div>
</div>
