<div class="section">
	<h3 class="cyan-text accent-4">Projects</h3>
</div>

<div class="divider margin-bottom-20"></div>

<div class="card orange lighten-1">
	<div class="card-content white-text">
		<span class="card-title">Mass Email Server Application</span>
		<p>
			Description of project. What did it entail? What did I achieve?
		</p>

		<p>
			<blockquote>
				Customer tesimonial. This was awesome and Adam rocked and stuff.
			</blockquote>
		</p>

		<div class="divider margin-bottom-20 margin-top-20"></div>

		<img src="http://placehold.it/250x250" width="100%" class="responsive-img z-depth-3" />
		<img src="http://placehold.it/250x250" width="100%" class="responsive-img z-depth-3" />
		<img src="http://placehold.it/250x250" width="100%" class="responsive-img z-depth-3" />
	</div>
	<div class="card-action">
		<span class="cyan accent-4 white-text padding-5">Go</span>
		<span class="cyan accent-4 white-text padding-5">REST</span>
		<span class="cyan accent-4 white-text padding-5">HTML5</span>
		<span class="cyan accent-4 white-text padding-5">Bootstrap</span>
		<span class="cyan accent-4 white-text padding-5">MSSQL</span>
	</div>
</div>

<div class="card orange lighten-1">
	<div class="card-content white-text">
		<span class="card-title">Canine Chronicle Mobile Application</span>
		<p>
			Description of project. What did it entail? What did I achieve?
		</p>

		<p>
			<blockquote>
				Customer tesimonial. This was awesome and Adam rocked and stuff.
			</blockquote>
		</p>

		<div class="divider margin-bottom-20 margin-top-20"></div>

		<img src="/assets/portfolio/images/canine-chronicle-1.png" width="100%" class="responsive-img z-depth-3" />
		<img src="/assets/portfolio/images/canine-chronicle-2.png" width="100%" class="responsive-img z-depth-3" />
		<img src="/assets/portfolio/images/canine-chronicle-3.png" width="100%" class="responsive-img z-depth-3" />
	</div>
	<div class="card-action">
		<span class="cyan accent-4 white-text padding-5">Mobile</span>
		<span class="cyan accent-4 white-text padding-5">Hybrid</span>
		<span class="cyan accent-4 white-text padding-5">HTML5</span>
		<span class="cyan accent-4 white-text padding-5">Ionic Framework</span>
		<span class="cyan accent-4 white-text padding-5">PHP</span>
		<span class="cyan accent-4 white-text padding-5">MySQL</span>
	</div>
</div>

<div class="card orange lighten-1">
	<div class="card-content white-text">
		<span class="card-title">Clear Brook High School Band</span>
		<p>
			Description of project. What did it entail? What did I achieve?
		</p>

		<p>
			<blockquote>
				Customer tesimonial. This was awesome and Adam rocked and stuff.
			</blockquote>
		</p>

		<div class="divider margin-bottom-20 margin-top-20"></div>

		<img src="/assets/portfolio/images/clear-brook-band-1.png" width="100%" class="responsive-img z-depth-3" />
		<img src="/assets/portfolio/images/clear-brook-band-2.png" width="100%" class="responsive-img z-depth-3" />
		<img src="/assets/portfolio/images/clear-brook-band-3.png" width="100%" class="responsive-img z-depth-3" />
	</div>
	<div class="card-action">
		<span class="cyan accent-4 white-text padding-5">Go</span>
		<span class="cyan accent-4 white-text padding-5">HTML5</span>
		<span class="cyan accent-4 white-text padding-5">Bootstrap</span>
		<span class="cyan accent-4 white-text padding-5">jQuery</span>
	</div>
</div>
