<div class="section">
	<h3 class="cyan-text accent-4">Skills</h3>
</div>

<div class="divider margin-bottom-20"></div>

<div class="section">
	<h4>Proficiencies</h4>
</div>

<div class="row">
	<div class="col s12 m6">
		<div class="card cyan">
			<div class="card-content white-text">
				<span class="card-title grey-text text-lighten-3">Server Applications</span>
				<p>
					Businesses often have many services, applications and products. Many times
					data must be coordinated between them, or long processing jobs need worked
					outside of web applications to ensure smooth customer front-end experience.
					A Windows service, Linux daemon, or micro-service application can be built
					to perform these tasks over long periods of time.
				</p>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="card cyan">
			<div class="card-content white-text">
				<span class="card-title grey-text text-lighten-3">Administration Tools</span>
				<p>
					Administration tools allow businesses small and large to perform tasks such as
					administer data, manage inventory, and gain quick visual insight into metrics.
					Today these types of tools are web-enabled for greater flexibility and
					availability.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12 m6">
		<div class="card cyan">
			<div class="card-content white-text">
				<span class="card-title grey-text text-lighten-3">Web Sites</span>
				<p>
					Of course I can build general purpose web sites. Need an on-line
					presence for your business, or perhaps some type of web application
					for your customers?
				</p>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="card cyan">
			<div class="card-content white-text">
				<span class="card-title grey-text text-lighten-3">Data Transformation/ETL</span>
				<p>
					With the expansion of on-line web-services, RESTful APIs, and other forms of
					data the ability to consume and transform this data to manipulate and mine
					is very important. I have experience in integrating data from many
					disparate systems into your data storage.
				</p>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<h4>Programming Languages</h4>
</div>

<div class="row">
	<div class="col s12 m6">
		<div class="card cyan">
			<div class="card-content white-text">
				<span class="card-title grey-text text-lighten-3">Go</span>
				<p>
					<a href="http://golang.org" target="_blank">Go</a> is a language
					created by Google that offers fast compile times, native binaries,
					and powerful concurrency. This language is great at building server
					applications, services, and daemons. You can also build web applications
					using Go's built in HTTP server library.
				</p>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="card cyan">
			<div class="card-content white-text">
				<span class="card-title grey-text text-lighten-3">Python</span>
				<p>
					<a href="http://python.org" target="_blank">Python</a> allows developers
					to work quickly with an extensive standard library. Its "batteries included"
					approach makes tasks like system scripting and integration easy. Fast web
					application can also be built to run on top of HTTP servers like
					Gunicorn or Tornado.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12 m6">
		<div class="card cyan">
			<div class="card-content white-text">
				<span class="card-title grey-text text-lighten-3">PHP</span>
				<p>
					<a href="http://php.net" target="_blank">PHP</a> is the language of the web.
					Powering over <a href="http://w3techs.com/technologies/overview/programming_language/all" target="_blank">80%</a>
					PHP is a general purpose language with tons of features, plenty of support,
					and a great software ecosystem. PHP is often a first choice for small business
					due to low cost of entry. PHP is usually setup alongside Apache or Nginx.
				</p>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="card cyan">
			<div class="card-content white-text">
				<span class="card-title grey-text text-lighten-3">ColdFusion/CFML</span>
				<p>
					<a href="http://lucee.org/" target="_blank">ColdFusion/CFML</a> is a language that
					runs on the Java Virtual Machine, featuring super-easy development effort and
					many baked-in features for integrating various 3rd party enterprise systems. Although
					the name <strong>ColdFusion</strong> refers to an Adobe product, Lucee offers
					a free, open-source engine that often performs better than its commercial
					counterpart. Lucee can be run in Java servlet containers such as Tomcat
					or Jetty.
				</p>
			</div>
		</div>
	</div>
</div>
